transformers
pandas
torch
accelerate
bitsandbytes
huggingface_hub
llama-index
llama-index-llms-ollama
sentence_transformers
ipywidgets
llama-index-finetuning
cloud-tpu-client
torch-neuron
sentencepiece
cuda-python
openpyxl
openai==0.28


